doctype html
html
    head
        title= title
        link(rel='icon', href='/images/favicon.png')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')

    body
        nav.navbar.navbar-dark.bg-primary
            div.container
                a(href='/').navbar-brand #{title}

        div.container.pt-4

            block content

            footer
                div.d-flex.justify-content-between.py-4.my-4.border-top
                    p Desenvolvido por Felipe Stroff